@import "../../../styles/variables.scss";

.homepage-main-container{
    // width: 100%;
    // height: 800px;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}

.homepage-main-container-light{
    background-color: white;

    >.home-sidenavbar{
        background-color: white;
    }
}

.homepage-side-navbar-container{
    // width: 15%;
    width: 100%;
    height: 900px;
    overflow: auto;
    border-right: 1px solid $breakLineColor;
    padding-right: 10px;
    position: sticky;
    top: 2%;
}

.homepage-posts-container{
    position: relative;
    // border-left: 1px solid $breakLineColor;
    // width: 40%;
    width: 45%;
    height: 100%;
}

.homepage-posts-container-light{
    background-color: white;
}

// .homepage-popular-communities-container{
//     position: relative;
//     // border: 1px solid red;
//     width: 15%;
//     background-color: rgb(4,9,10);
//     border-radius: 10px;
// }

.homepage-feed-selector-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-feed-selector{
    height: 30px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.homepage-feed-selector-active{
    background-color: $searchBarHoverColor;

    >.homepage-feed-icon{
        background-color: $searchBarHoverColor;

    }
}

.homepage-sidenav-line-breaker{
    border: none;
    background-color: $breakLineColor;
    height: 1px;
    margin: 10px 0;
}

.homepage-excess-container{
    padding: 10px 0;
}

.homepage-excess-title{
    padding: 10px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;

    >span{
        color: $feedTitleColor;
        font-size: 14px;
    }
}

.homepage-excess-title:hover{
    background-color: $searchBarHoverColor;

    >span{
        background-color: $searchBarHoverColor;
    }

    .homepage-excess-dropdown{
        background-color: $searchBarHoverColor;
    }
}

.homepage-excess-dropdown-active{
    transform: rotate(180deg);
}

.homepage-excess-text{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: not-allowed;
}

.homepage-side-navbar-rights{
    color: rgb(172,172,172);
    padding: 10px;
    font-size: 14px;
}

.homepage-side-navbar-container-light{
    background-color: white;
    border-right: 1px solid $lineBreakerLightColor;

    >.homepage-sidenav-line-breaker{
        background-color: $lineBreakerLightColor;
    }

    >.homepage-feed-selector-container{
        background-color: white;

        >.homepage-feed-selector{
            background-color: white;
            color: black;

            >.homepage-feed-icon{
                background-color: white;
                color: black;
            }
        }

        >.homepage-feed-selector:hover{
            background-color: $lightHoverBackgroundColor;

            >.homepage-feed-icon{
                background-color: $lightHoverBackgroundColor;
            }
        }
    }

    >.homepage-excess-container{
        background-color: white;

        >.homepage-excess-title{
            background-color: white;

            >span{
                background-color: white;
                color: black;
            }

            >.homepage-excess-dropdown , .homepage-excess-dropdown-active{
                background-color: white;
                color: black;
            }
        }

        >.homepage-excess-text{
            background-color: white;

            >.sidenav-icon{
                background-color: white;
                color: black;
            }

            >span{
                background-color: white;
                color: black;
            }
        }

        >.homepage-excess-text:hover{
            background-color: $lightHoverBackgroundColor;

            >.sidenav-icon{
                background-color: $lightHoverBackgroundColor;
            }

            >span{
                background-color: $lightHoverBackgroundColor;
            }
        }
    }

    >.homepage-side-navbar-rights{
        background-color: white;
        color: $postAuthorColor;
    }
}

@media screen and (max-width: 768px){
    .homepage-side-navbar-container{
        z-index: 1002;
    }

    .homepage-side-navbar-container{
        width: 80%;
      }
}