@import "../../../styles/variables.scss";

.subreddit-main-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.subreddit-image-section{
    position: relative;
    display: flex;
    flex-direction: column;
}

.subreddit-header-image{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;

    >img{
        max-width: 100%;
    }
}

.subreddit-join-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background-color: $loginAndSignupModalBackgroundColor;
    height: 100px;
    padding-left: 20%;

    >img{
        height: 70px;
        width: 70px;
        border: 4px solid white;
        border-radius: 45px;
    }
}

.subreddit-name-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: inherit;

    >h2{
        background-color: inherit;
        color: white;
    }

    >p{
        font-size: 16px;
        color: $postAuthorColor;
        background-color: inherit;
    }
}


.subreddit-join-button{
    padding: 5px 25px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.subreddit-join-button:hover{
    background-color: whitesmoke;
}

.subreddit-posts-and-details-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.subreddit-post-container{
    width: 40%;
    // height: 800px;
    // border: 1px solid red;
}

.subreddit-details-container{
    width: 20%;
    // height: 800px;
    // border: 1px solid red;
}

.subreddit-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;

    >span{
        color: $postAuthorColor;
        padding: 4px 20px;
    }

    >h2{
        color: white;
        padding: 4px 20px;

    }

    >p{
        color: white;
        padding: 4px 20px;

    }
}

.subreddit-post:hover{
    background-color: $searchBarColor;

    >span{
        background-color: $searchBarColor;
    }

    >h2{
        background-color: $searchBarColor;
    }

    >p{
        background-color: $searchBarColor;
    }

    .post-interaction-container{
        background-color: $searchBarColor;
    }
}

.subreddit-useless-icon{
    cursor: not-allowed;
}

.subreddit-details-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subreddit-details-description{
    background-color: $searchBarColor;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >span{
        background-color: $searchBarColor;
        color: $postAuthorColor;
    }

    >p{
        background-color: $searchBarColor;
        color: white;
    }

    >div{
        background-color: $searchBarColor;
        color: $postAuthorColor;
        display: flex;
        gap: 10px;
        align-items: center;

        .cake-icon{
            color: white;
            background-color: inherit;
        }
    }
}

.subreddit-skills-description{
    background-color: $searchBarColor;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >span{
        background-color: $searchBarColor;
        color: $postAuthorColor;
    }
}

.skills-bubble{
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.subreddit-owner-details{
    background-color: $searchBarColor;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >span{
        background-color: $searchBarColor;
        color: $postAuthorColor;
    }
}

.owner-detail-line{
    background-color: inherit;
    display: flex;
    // align-items: center;
    gap: 14px;

    >p{
        background-color: inherit;
        color: $postAuthorColor;
    }

    >span{
        background-color: inherit;
        color: white;
    }
}

.subreddit-no-data{
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding-top: 60px;
}

@media screen and (max-width: 768px){
    .subreddit-post-container{
        width: 60%;
    }

    .subreddit-details-container{
        width: 30%;
    }
}