$primaryColor: rgb(10,20,22);
$breakLineColor: rgb(35,44,46);
$searchBarColor: rgb(26,40,45);
$searchBarHoverColor: rgb(33,50,55);
$navbarLoginColor: rgb(217,58,1);
$navbarLoginHoverColor: rgb(150,42,0);
$loginAndSignupModalBackgroundColor: rgb(15,26,28);
$signinModalPrimaryColor: rgb(26, 40, 45);
$signinModalSecondaryColor: rgb(33,50,55);
$signinModalLinkColor: rgb(98,159,255);
$feedTitleColor: rgb(130,131,132);
$postAuthorColor: rgb(185,197,201);
$joinButtonColor: rgb(1,69,172);
$joinButtonHoverColor: rgb(24,112,244);
$postHoverBackgroundColor: rgb(18,31,35);
$bananaColor: rgb(255,214,56);

$commentAuthorColor: rgb(78,186,252);

$createCommunityModalBackDrop: rgb(26,26,27);
$createCommunityModalBackDrop2: rgb(52,53,54);
$createCommunityTextColor: rgb(159,162,163);
$createCommunityTextColor2: rgb(130,131,132);


$lightBackgroundColor: rgb(238,239,241);
$lightHoverBackgroundColor: rgb(212,215,217);
$lineBreakerLightColor: rgb(230,230,230);